<%- include('../../partial/mainhead.ejs') %>
<style>
.details{
    background-color: #fefcef ;
}
.line span{
    display: block;
    width: 90%;
    height: 0.3px;
    opacity: 0.5;
}
.blob-2 {
    width: 320px;
    height: 380px;
    border-radius: 40% 60% 70% 30% / 40% 70% 30% 60%;
    overflow: hidden;
    transition: all 0.4s ease;
    filter: drop-shadow(0 10px 30px rgba(0,0,0,0.15));
}

.blob-2:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.25));
}

.blob-2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.blob-2:hover video {
    transform: scale(1.05);
}
</style>
<div class="head">
        <div class="video">
            <img src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
        </div>
        <div class="backround"></div>
        <div class="text h-100 p-3">
            <div class="row align-items-center h-75 mt-5">
                <div class="col-12 col-md-6">
                   <p class="hero-text stagger-1">Galaxy Group</p>
                   <h1 class="hero-text stagger-2"><strong>Projects</strong></h1>
                   <h5 class="mt-5 hero-text">Home/Projects/nameclient</h5>
                </div>
            </div>
        </div>
</div>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 col-lg-4">
            <div class="details rounded-4 py-5 px-4 mb-4">
                <div class="col-12">
                    <h4>Project name</h4>
                    <p>sajed bataineh</p>
                </div>
                <div class="line w-100 d-flex justify-content-center">
                        <span class="bg-secondary"></span>
                </div>
                <div class="col-12 mt-4">
                    <h4>Start Date</h4>
                    <p>5/3/2002</p>
                </div>
                <div class="line w-100 d-flex justify-content-center">
                        <span class="bg-secondary"></span>
                </div>
                <div class="col-12 mt-4">
                    <h4>location</h4>
                    <p>irbid/hakama</p>
                </div>
                <div class="line w-100 d-flex justify-content-center">
                    <span class="bg-secondary"></span>
                </div>
                <div class="col-12 mt-4">
                    <h4>Project Duration</h4>
                    <p>1 Weeks</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div style="overflow: hidden; height: 300px; width: 100%;" class="firs-timg rounded-4">
                        <img style="object-fit: cover;" class="w-100 h-100" src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 mt-5 mb-3">
                    <p class="description text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquid accusantium corporis at quas! Magni, cumque voluptate dolores numquam eligendi dicta illum, dolorem doloremque omnis dolor, obcaecati assumenda et iure?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 mt-4">
                    <div style="overflow: hidden; height: 200px; width: 100%;" class="firs-timg rounded-4">
                        <img style="object-fit: cover;" class="w-100 h-100" src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
                    </div>
                </div>
                <div class="col-6 col-lg-4 mt-4">
                    <div style="overflow: hidden; height: 200px; width: 100%;" class="firs-timg rounded-4">
                        <img style="object-fit: cover;" class="w-100 h-100" src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
                    </div>
                </div>
                <div class="col-6 col-lg-4 mt-4">
                    <div style="overflow: hidden; height: 200px; width: 100%;" class="firs-timg rounded-4">
                        <img style="object-fit: cover;" class="w-100 h-100" src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
                    </div>
                </div>
                <div class="col-6 col-lg-4 mt-4">
                    <div style="overflow: hidden; height: 200px; width: 100%;" class="firs-timg rounded-4">
                        <img style="object-fit: cover;" class="w-100 h-100" src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
                    </div>
                </div>
                <div class="col-6 col-lg-4 mt-4">
                    <div style="overflow: hidden; height: 200px; width: 100%;" class="firs-timg rounded-4">
                        <img style="object-fit: cover;" class="w-100 h-100" src="https://res.cloudinary.com/dd03x0wle/image/upload/v1748487583/482203992_1153061593186920_4990799730796527867_n_eeiqzf.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="blob-2">
               <video autoplay muted loop playsinline src="https://res.cloudinary.com/dd03x0wle/video/upload/v1748441203/kitchen-projects/videos/uizeemomvzgwb7wcphtj.mp4"></video>
           </div>
        </div>
    </div>
</div>
<%- include('../../partial/footer.ejs') %>