<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - إدارة المطابخ</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Montserrat' ;
        }
        .sidebar { 
            background-color:#2a2829; 
            min-height: 100vh;
        }
        .sidebar .nav-link {
            color: #ffc107;
            padding: 15px 20px; margin: 5px 0;
            border-radius: 10px;
         }
        .sidebar .nav-link:hover {
            background-color: #ffc107;
            color: #2a2829; 
        }
    </style>
</head>